<!-- views/index.ejs -->
<% if (messages.success) { %>
  <div class="flash flash-success"><%= messages.success %></div>
<% } %>

<h1>Fill out a client form below to be tracked...</h1>
<a href="./contact">Form 1</a>
