
  <head>
    <meta charset="utf-8">
    <title>My_Page</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />

    <!-- Google Tag Manager -->
    <%- include('head/dataLayer'); %>
    <%- include('head/GTM'); %>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <title>My_Page</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
</head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <%- include('head/GTMNoScript'); %>
    <!-- End Google Tag Manager (noscript) -->
    <h2>Welcome to the thunder dome.</h2>
  </body>
